project_id = "my_gcp_project_id"
region     = "us-central1"
location     = "us-central1-a"

#GKE
gke_num_nodes = 2
machine_type  = "n1-standard-1"

#CloudSQL
instance_name     = "my_instance_name"
database_version  = "POSTGRES_12"
instance_tier     = "db-f1-micro"
disk_space        = 10
database_name     = "my_favorite_schema"
db_username       = "my_favorite_user"
db_password       = "my_strongest_pasword"
