project_id = "my_gcp_project_id"
region     = "us-central1"
location     = "us-central1-a"

#GKE
gke_num_nodes = 2
machine_type  = "n1-standard-2"

#CloudSQL
database_version = "POSTGRES_12"
instance_tier    = "db-f1-micro"
disk_space       = 10
database_name    = "dbname"
db_username      = "myusername"

# Dataproc cluster
dp_cluster_name = "powerful-cluster-1"
staging_bucket_name = "staging_zone"
temp_bucket_name = "temp_zone"

# Raw bucket
raw_bucket_name = "raw_zone"

# BigQuery
bq_dataset_id = "your_dataset_name"